<template>
    <div>
        <input :checked="bar" @change="bar = $event.target.checked;triggerEvent()"  type="checkbox" name="vehicle" :value="value"> I have a bike<br>
        <input v-model="bar" @change="triggerEvent()"  type="checkbox" name="vehicle" :value="value"> I have a bike<br>
        <button @click="toggleBox">toggle</button>
    </div>
</template>
<style>

</style>
<script>
  export default {
    model: {
      prop: 'checked',
      event: 'change'
    },
    props: {
      checked: Boolean,
      value: String
    },
    data () {
      return {
        bar: this.checked,
        test: null
      }
    },
    methods: {
      toggleBox: function () {
        this.bar = !this.bar
        this.$emit('change', this.bar)
      },
      triggerEvent: function () {
        this.$emit('change', this.bar)
      }
    }
  }
</script>
