<template>
    <div>
        <span>
            $ <input
                v-bind:value="value"
                v-on:input="updateValue($event)"
                ref="input">
        </span>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
      updateValue: function (event) {
        let value = event.target.value
        let formattedValue = value
        // Remove whitespace on either side
          .trim()
          // Shorten to 2 decimal places
          .slice(
            0,
            value.indexOf('.') === -1
              ? value.length
              : value.indexOf('.') + 3
          )
        // If the value was not already normalized,
        // manually override it to conform
        if (formattedValue !== value) {
          this.$refs.input.value = formattedValue
        }
        // Emit the number value through the input event
        this.$emit('input', Number(formattedValue))
      }
    }
  }
</script>
