<template>
    <div>
        <span>
        <input

            v-on:input="updateValue($event)"
            >
        </span>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
      updateValue: function (event) {
        let value = event.target.value
        let formattedValue = value
        this.$emit('input', formattedValue)
      }
    }
  }
</script>
