<template>
    <div>
        <div>chats</div>
        <ul>
            <li v-for="message in messages">{{message}}</li>
        </ul>
    </div>
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue',
        messages: ['First!']
      }
    },
    created: function () {
      let self = this
      this.$root.$on('sendMsg', function (message) {
        console.log(message, self)
        self.messages.push(message)
      })
    }
  }
</script>
