<template>
    <div>
        <div>this is template body</div>
        <input v-model="msg">
        <button @click="sendMessage">Send</button>
    </div>
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
      sendMessage: function () {
        this.$root.$emit('sendMsg', 'Yay: ' + this.msg)
        this.msg = ''
      }
    }
  }
</script>
