<template>
    <div>
        <div>foo: {{foo}}</div>
        <button @click="updateFoo">update</button>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['foo'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
      updateFoo: function () {
        this.$emit('update:foo', this.foo + '1')
      }
    }

  }
</script>
