<template>
    <div>
        <button v-on:click="increment">{{counter}}</button>
    </div>
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue',
        counter: 0
      }
    },
    methods: {
      increment: function () {
        this.counter += 1
        this.$emit('increment')
      }
    }
  }
</script>
