<template>
    <div class="blue">
        <p></p>
        <p>child component</p>
        <p>{{message}}</p>
        <p></p>
    </div>
</template>
<style>
.blue {
    border: 1px solid blue;
}
</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    },
    props: ['message']
  }
</script>
