<template>
    <div class="child">
        <div>Validator child</div>
        <p>requried: {{propRequired}}</p>
        <p>default: {{propDefault}}</p>
        <p>valid: {{propValidator}}</p>
        <p>Object:</p>
        <pre>
            {{propObject}}
        </pre>
    </div>
</template>
<style>
    .child {
        border: 1px solid red;
        padding: 10px;
        margin: 10px;
    }
</style>
<script>
  export default {
    props: {
      propNumber: Number,
      propNumberString: [Number, String],
      propRequired: {
        type: String,
        required: true
      },
      propDefault: {
        type: Number,
        default: 100
      },
      propObject: {
        type: Object,
        default: function () {
          return {message: 'hello'}
        }
      },
      propValidator: {
        validator: function (value) {
          return value > 10
        }
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
