<template>
    <div class="blue">
        <div>this is template body</div>
        <p>counter: {{counter}}</p>
        <p>localCounter: {{localCounter}}</p>
        <button @click="updateCounter">Up</button>
        <br><br>
        <p>msg: {{msg}}</p>
        <button @click="transformMessage">Transform message</button>
        <h4>Master</h4>
        <p>parent master age: {{master.age}}</p>
        <p>local master age: {{localMaster.age}}</p>
    </div>
</template>
<style>
    .blue {
        border: 1px solid blue;
        padding: 10px;
        margin: 10px;
    }
</style>
<script>
  export default {
    props: ['counter', 'message', 'master'],
    data () {
      return {
        msg: 'hello vue',
        localCounter: this.counter,
        localMaster: {...this.master}
      }
    },
    methods: {
      updateCounter: function () {
        this.localCounter += 1
      },
      transformMessage: function () {
        this.msg = this.msg.split('').reverse().join('')
      }
    }
  }
</script>
