<template>
    <div class="red">
        <div>this is template body</div>
        <p>parent counter: {{counter}}</p>
        <button @click="updateParent">update parent</button>

        <h4>Object</h4>
        <p>master age: {{master.age}}</p>
        <button @click="ageMaster">age master</button>
        <child v-bind:counter="counter" v-bind:message="msg" v-bind:master="master"></child>
    </div>
</template>
<style>
    .red {
        border: 1px solid red;
        padding: 10px;
        margin: 10px;
    }
</style>
<script>
  import child from './oneWayChild.vue'
  export default {
    data () {
      return {
        msg: 'hello vue',
        counter: 2,
        master: {
          age: 4
        }
      }
    },
    components: {
      child
    },
    methods: {
      updateParent: function () {
        this.counter += 1
      },
      ageMaster: function () {
        this.master.age += 1
      }
    }
  }
</script>
