<template>
    <div class="red">
        <div>this is parent component</div>

        <input v-model="parentMsg" type="text">
        <br>-<br>
        <child v-bind:message="parentMsg"/>
        <br><br>
    </div>
</template>
<style>

    .red {
        border: 1px solid red;
    }
</style>
<script>
  import child from './child.vue'

  export default {

    data () {
      return {
        msg: 'hello vue',
        parentMsg: '123'
      }
    },
    components: {
      child
    }
  }
</script>
