<template>
    <input type="date" papa="false" class="form-control">
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
