<template>
    <div>
        <div>Default page</div>
    </div>
</template>

<script>
  export default{
    name: 'defaultPage',
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
