<template>
    <div>
        <div>Home page</div>
        <p>Here we have codemirror stuff</p>
         <codemirror v-model="code"
                      :options="editorOption"
         >
          </codemirror>
    </div>
</template>
<style>

</style>
<script>
  // require active-line.js
  require('codemirror/addon/selection/active-line.js')
  require('codemirror/addon/selection/mark-selection.js')
  export default {
    data () {
      const code =
`/* Some example CSS */
@import url("something.css");
body {
  margin: 0;
  padding: 3em 6em;
  font-family: tahoma, arial, sans-serif;
  color: #000;
}
#navigation a {
  font-weight: bold;
  text-decoration: none !important;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}
h1:before, h2:before {
  content: "::";
}
code {
  font-family: courier, monospace;
  font-size: 80%;
  color: #418A8A;
}`
      return {
        code,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: 'text/css',
          theme: 'mdn-like'
        }
      }
    }
  }
</script>
