<template>
    <div>
        <h1>Non prop Attributes</h1>
        <bs-date-input
                class="date-picker-theme-dark"
                papa="true"
                data-3d-date-picker="true"/>

        <router-view></router-view>
        <p>idea here is that <strong>style</strong> and <strong>class</strong> being merged and others ovveriden by passed down one.</p>
    </div>
</template>

<script>
  import bsDateInput from '@/components/pile/nonProps/bsDateInput'
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      bsDateInput
    }
  }
</script>
