<template>
    <div>
        <div>
            <mu-appbar>
                <mu-flat-button label="Home" :to="{name: 'home'}" slot="left"/>
            </mu-appbar>
            <div id="content-wrapper">
                <mu-row gutter>
                    <mu-col width="100" tablet="40" desktop="20">
                        <mu-content-block>
                            <mu-card>
                                <mu-list>
                                    <mu-list-item :to="{name: 'home'}" title="Home"></mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Using Components" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'registration'}" slot="nested" title="Registration">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'localRegistration'}" slot="nested" title="Local registration">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'dataFunction'}" slot="nested" title="data Must Be a Function">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'composingComponents'}" slot="nested" title="Composing Components">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Props" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'passingData'}" slot="nested" title="Passing Data with Props">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'camelKebab'}" slot="nested" title="camelCase vs. kebab-case">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'dynamicProps'}" slot="nested" title="Dynamic Props">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'literalDynamic'}" slot="nested" title="Literal vs. Dynamic">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'oneWayDataFlow'}" slot="nested" title="One-Way Data Flow">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'propValidation'}" slot="nested" title="Prop Validation">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Non-Prop Attributes" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'replacingMergingAttributes'}" slot="nested" title="Replacing / Merging with Existing Attributes">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Custom Events" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'vOnCustomEvents'}" slot="nested" title="Using v-on with Custom Events">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'syncModifier'}" slot="nested" title=".sync Modifier">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'formInputComponentsUsingCustomEvents'}" slot="nested" title="Form Input Components using Custom Events">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'customizingComponentVModel'}" slot="nested" title="Customizing Component v-model">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'nonParentChildCommunication'}" slot="nested" title="Non Parent-Child Communication">
                                            <mu-badge content="done" primary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Content Distribution with Slots" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'compilationScope'}" slot="nested" title="Compilation Scope">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'singleSlot'}" slot="nested" title="Single Slot">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'namedSlots'}" slot="nested" title="Named Slots">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'scopedSlots'}" slot="nested" title="Scoped Slots">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Dynamic Components" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'keepAlive'}" slot="nested" title="keep-alive">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                    <mu-divider />
                                    <mu-list-item title="Misc" toggleNested :open="false">
                                        <mu-list-item :to="{name: 'authoringReusableComponents'}" slot="nested" title="Authoring Reusable Components">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'childComponentRefs'}" slot="nested" title="Child Component Refs">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'asyncComponents'}" slot="nested" title="Async Components">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'advancedAsyncComponents'}" slot="nested" title="Advanced Async Components">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'componentNamingConventions'}" slot="nested" title="Component Naming Conventions">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'recursiveComponents'}" slot="nested" title="Recursive Components">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'circularReferencesBetweenComponents'}" slot="nested" title="Circular References Between Components">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'inlineTemplates'}" slot="nested" title="Inline Templates">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'xTemplates'}" slot="nested" title="X-Templates">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                        <mu-list-item :to="{name: 'cheapStaticComponentsWithVOnce'}" slot="nested" title="Cheap Static Components with v-once">
                                            <mu-badge content="todo" secondary slot="after"/>
                                        </mu-list-item>
                                    </mu-list-item>
                                </mu-list>
                            </mu-card>
                        </mu-content-block>
                    </mu-col>
                    <mu-col width="100" tablet="60" desktop="80">
                        <mu-content-block>
                            <mu-card>
                                <mu-card-text>
                                    <slot></slot>
                                </mu-card-text>
                            </mu-card>
                        </mu-content-block>
                    </mu-col>
                </mu-row>
            </div>
        </div>
    </div>
</template>
<script>
  export default{
    name: 'DefaultLayout',
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
