<template>
    <div>
        <p>{{this.$route.name}}</p>
        <a href="https://vuejs.org/v2/guide/components.html#Customizing-Component-v-model">docs</a>
        <p>
            By default, v-model on a component uses value as the prop and input as the event, but some input types such as checkboxes and radio buttons may want to use the value prop for a different purpose. Using the model option can avoid the conflict in such cases:</p>

        <p>checkbox is: {{foo}}</p>
        <my-checkbox v-model="foo" value="some value"></my-checkbox>

        <my-checkbox
          :checked="foo"
          @change="val => { foo = val }"
          value="some value">
        </my-checkbox>

    </div>
</template>
<style>

</style>
<script>
  import myCheckbox from '@/components/pile/events/checkBox.vue'

  export default {
    data () {
      return {
        msg: 'hello vue',
        foo: false
      }
    },
    components: {
      myCheckbox
    }
  }
</script>
