<template>
    <div>
        <p>{{this.$route.name}}</p>
        <a href="https://vuejs.org/v2/guide/components.html#Form-Input-Components-using-Custom-Events">docs</a>
        <p>So for a component to work with v-model, it should (these can be configured in 2.2.0+):
        </p>
        <ul>
            <li>accept a value prop</li>
            <li>emit an input event with the new value</li>
        </ul>
        <p>price: {{price}}</p>
        <p>msg: {{msg}}</p>
        <currency-input v-model="price"></currency-input>
        <funny-input v-model="msg"></funny-input>
    </div>
</template>
<style>

</style>
<script>
  import currencyInput from '@/components/pile/events/currencyInput.vue'
  import funnyInput from '@/components/pile/events/funnyInput.vue'

  export default {
    data () {
      return {
        msg: 'hello vue',
        price: 123
      }
    },
    components: {
      currencyInput,
      funnyInput
    }
  }
</script>
