<template>
    <div>
        <h1>Custom events</h1>
        <p>We have learned that the parent can pass data down to the child using props, but how do we communicate back to the parent when something happens? This is where Vue’s custom event system comes in.</p>
        <router-view></router-view>
    </div>
</template>

<script>
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
