<template>
    <div>
        <p>{{this.$route.name}}</p>
        <separate-one></separate-one>
        <separate-two></separate-two>
    </div>
</template>
<style>

</style>
<script>
  import separateOne from '@/components/pile/events/separateOne.vue'
  import separateTwo from '@/components/pile/events/separateTwo.vue'

  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      separateOne,
      separateTwo
    }
  }
</script>
