<template>
    <div>
        <h3>.sync modifier</h3>
        <p>In some cases we may need “two-way binding” for a prop - in fact, in Vue 1.x this is exactly what the .sync modifier provided. When a child component mutates a prop that has .sync, the value change will be reflected in the parent. This is convenient, however it leads to maintenance issues in the long run because it breaks the one-way data flow assumption: the code that mutates child props are implicitly affecting parent state.
This is why we removed the .sync modifier when 2.0 was released. However, we’ve found that there are indeed cases where it could be useful, especially when shipping reusable components. What we need to change is making the code in the child that affects parent state more consistent and explicit.
In 2.3.0+ we re-introduced the .sync modifier for props, but this time it is just syntax sugar that automatically expands into an additional v-on listener:
The following</p>
        <p>bar: {{bar}}</p>
        <button @click="changeBar">changeBar</button>
        <sync :foo="bar" @update:foo="val => bar = val"></sync>
        <sync :foo.sync="bar"></sync>
        <p>takeaway here is we can not write "update" method and just do .sync instead.</p>
        <p>Bigger picture is we bind val to component prop and component evoks update prop event and we catch new value and update parent variable and thus update child value</p>
        <p>in other words we can mutate parent var by child event</p>
        <!-- TODO play around some more with that -->
    </div>
</template>
<style>

    .sync {
        border: 1px solid red;
        padding: 10px;
        margin: 10px;
    }
</style>
<script>
  import sync from '@/components/pile/events/sync.vue'
  export default{
    data () {
      return {
        msg: 'hello vue',
        bar: 'some bar'
      }
    },
    methods: {
      changeBar: function () {
        this.bar += '-'
      }
    },
    components: {
      sync
    }
  }
</script>
