<template>
    <div>
        <p>Every Vue instance implements an events interface, which means it can:</p>
        <ul>
            <li>Listen to an event using $on(eventName)</li>
            <li>Trigger an event using $emit(eventName)</li>
        </ul>
        <p>In addition, a parent component can listen to the events emitted from a child component using v-on directly in the template where the child component is used.</p>
        <p>You cannot use $on to listen to events emitted by children. You must use v-on directly in the template, as in the example below.</p>
        <p>{{total}}</p>
        <updater v-on:increment="incrementTotal()"/>
        <updater v-on:increment="incrementTotal()"/>

    </div>
</template>
<style>

</style>
<script>
  import updater from '@/components/pile/events/vOnEvents.vue'
  export default{
    data () {
      return {
        msg: 'hello vue',
        total: 0
      }
    },
    methods: {
      incrementTotal: function () {
        this.total += 1
      }
    },
    components: {
      updater
    }

  }
</script>
