<template>
    <div>
        <p>{{this.$route.name}}</p>
        <a href="http://localhost:8080/#/props/camel-kebab">Camelcase vs kebab case</a>
        <p>
            HTML attributes are case-insensitive, so when using non-string templates, camelCased prop names need to use their kebab-case (hyphen-delimited) equivalents:
        </p>
        <!-- TODO check it out -->
        <codemirror v-model="code"
                    :options="editorOption">
        </codemirror>
    </div>
</template>
<style>

</style>
<script>
  let code = `Vue.component('child', {
  // camelCase in JavaScript
  props: ['myMessage'],
  template: '<span>{{ myMessage }}</span>'
})
<!-- kebab-case in HTML -->
<child my-message="hello!"></child>`

  export default {
    data () {
      return {
        msg: 'hello vue',
        code,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: {name: 'javascript', json: true},
          theme: 'mdn-like',
          viewportMargin: 3,
          readOnly: true
        }
      }
    }
  }
</script>
