<template>
    <div>
        <p>{{this.$route.name}}</p>
        <p>Similar to binding a normal attribute to an expression, we can also use v-bind for dynamically binding props to data on the parent. Whenever the data is updated in the parent, it will also flow down to the child:</p>
        <p>t’s often simpler to use the shorthand syntax for v-bind:</p>
        <p>Idea here is we can use v-bind to pass link (bind) "data" of parent to "prop" of child.  JKJKJK</p>
        <parent></parent>
    </div>
</template>
<style>

</style>
<script>
  import parent from '@/components/pile/props/parent.vue'

  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      parent
    }
  }
</script>
