<template>
    <div>
        <p>{{this.$route.name}}</p>
        <a href="https://vuejs.org/v2/guide/components.html#Props">docs</a>
        <p>A common mistake beginners tend to make is attempting to pass down a number using the literal syntax:</p>
        <codemirror class="code1" v-model="code1"
                    :options="editorOption">
        </codemirror>
        <p>However, since this is a literal prop, its value is passed down as a plain string "1" instead of an actual number. If we want to pass down an actual JavaScript number, we need to use v-bind so that its value is evaluated as a JavaScript expression:</p>
        <codemirror class="code1" v-model="code2"
                    :options="editorOption">
        </codemirror>
        <p><strong>idea here is to use v-bind to pass not string attribute to prop</strong></p>

    </div>
</template>
<style>
    .CodeMirror {
        height: 80px;
    }
</style>
<script>
  let code1 = `<!-- this passes down a plain string "1" -->
    <comp some-prop='1'></comp>`

  let code2 =
  `<!-- this passes down an actual number -->
    <comp v-bind:some-prop='1'></comp>`

  export default {
    data () {
      return {
        msg: 'hello vue',
        code1,
        code2,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: {name: 'javascript', json: true},
          theme: 'mdn-like',
          viewportMargin: 3,
          readOnly: true
        }
      }
    }
  }
</script>
