<template>
    <div>
        <p>{{this.$route.name}}</p>
        <br><br>
        <p>parent:</p>
        <parent/>
        <p>Note that objects and arrays in JavaScript are passed by reference, so if the prop is an array or object, mutating the object or array itself inside the child will affect parent state.</p>
    </div>
</template>
<style>

</style>
<script>
  import parent from '@/components/pile/props/oneWayParent.vue'
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      parent
    }
  }
</script>
