<template>
    <div>
        <p>{{this.$route.name}}</p>
        <p>Every component instance has its own isolated scope. This means you cannot (and should not) directly reference parent data in a child component’s template. Data can be passed down to child components using props.</p>
        <p>A <strong>prop is a custom attribute</strong> for passing information from parent components. A child component needs to explicitly declare the props it expects to receive using the props option:</p>
        <parent/>
        <p>Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "message"</p>

    </div>
</template>
<style>

</style>
<script>
  import parent from '@/components/pile/props/parent.vue'
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      parent
    }
  }
</script>
