<template>
    <div>
        <p>{{this.$route.name}}</p>
        <p>Lets Validate some props !</p>
        <child
                :propObject="{message: 'hell'}"
                :propValidator="11"
                propRequired="req prop" />
    </div>
</template>
<style>

</style>
<script>
  import child from '@/components/pile/props/childValidator.vue'
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    },
    components: {
      child
    }
  }
</script>
