<template>
    <div>
        <p>{{this.$route.name}}</p>
    </div>
</template>
<style>

</style>
<script>
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
