<template>
    <div>
        <h1>Misc</h1>
        <router-view></router-view>
    </div>
</template>

<script>
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
