<template>
    <div>
        <p> heres a link to <a href="https://vuejs.org/v2/guide/components.html#data-Must-Be-a-Function" target="_blank">documentation</a></p>
        <p>main takeaway will be implementation of wrong and right way of data to illuminate problem being solved with this demand</p>
        <h4>Wrong way</h4>
        <p>three components with shared data</p>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <h4>Right way</h4>
        <p>every single one returns onwn value</p>
        <simple-counter2></simple-counter2>
        <simple-counter2></simple-counter2>
        <simple-counter2></simple-counter2>

        <h4>Questions:</h4>
        <ol>
            <li>
                Is it ok to break rule if i want to share data between some component ? what are others reasons can be to break rule ?
            </li>
        </ol>
    </div>
</template>

<script>

  let code = `Vue.component('my-component', {
  template: '<span>{{ message }}</span>',
  data: {
    message: 'hello'
  }
})`

  export default {
    data () {
      return {
        msg: 'hello vue',
        code,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: {name: 'javascript', json: true},
          theme: 'mdn-like',
          viewportMargin: 3,
          readOnly: true
        }
      }
    }
  }
</script>
