<template>
    <div>
        <div>
            <h3>Local Registration</h3>
            <p>
                You don’t have to register every component globally. You can make a component available only in the scope of another instance/component by registering it with the components instance option</p>
            <codemirror v-model="code"
                        :options="editorOption">
            </codemirror>
            <p>Questions:</p>
            <ul>
                <li>Again, where those registered components being put ? Im asking for debugging porposes.</li>
            </ul>
        </div>
    </div>
</template>
<style>

</style>
<script>
  let code = `var Child = {
  template: '<div>A custom component!</div>'
}
new Vue({
  // ...
  components: {
    // <my-component> will only be available in parent's template
    'my-component': Child
  }
})`
  export default {
    data () {
      return {
        code,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: {name: 'javascript', json: true},
          theme: 'mdn-like',
          viewportMargin: 3,
          readOnly: true
        }
      }
    }
  }
</script>
