<template>
    <div>
        <h3>Register</h3>
        <p>To register a global component, you can use Vue.component(tagName, options).</p>
        <p>Basically we just use method which construct new component</p>
        <codemirror v-model="code"
                    :options="editorOption"
        >
        </codemirror>
        <p>Questions:</p>
        <ol>
            <li>What exacly happening when component registered globally ? What variables go where ?</li>
            <li>
                Why we register global components before newing up instance ? If we new up Vue instance after first one it will not have them components from first and if wil have how to separate ?
            </li>
        </ol>
    </div>
</template>
<style>

</style>
<script>
  let code = `Vue.component('my-component', {
  // options
})`
  export default {
    data () {
      return {
        code,
        editorOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: {name: 'javascript', json: true},
          theme: 'mdn-like',
          viewportMargin: 3,
          readOnly: true
        }
      }
    }
  }
</script>
